@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    #profile, .section-container {
        flex-wrap: wrap;
    }
    
    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .general-wrapper,
    .contact-wrapper,
    .btn {
        flex-wrap: wrap;
    }

    .contact-info {
        margin: 0;
    }
    
    .contact-info p,
    .nav-list li a {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .nav-list {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    img[alt="Thanh profile image"], img[alt="Thanh logo image"] {
        width: auto;
        height: 46vw;
        justify-content: center;
        max-width: 270px;
    }
    
    .info-p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2rem;
    }

    #about-text {
        text-align: justify;
    }
}

@media screen and (max-width: 1200px){
    #full-nav-bar {
        display: none; 
    }

    #mobile-nav-bar {
        display: flex;
    }

    #experience {
        margin-top: 2rem;
    }
    
    #profile,
    .section-container {
        display: block;
    }
    
    .arrow {
        display: none;
    }
    
    section,
    .section-container {
        height: fit-content;
    }
    
    section {
        margin: 0 5%;
    }
    
    img[alt="Thanh profile image"], img[alt="Thanh logo image"] {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    
    .general-wrapper {
        margin-top: 0;
    }

    footer .nav-list a:hover {
        padding: 0;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        color: grey;
        border: none;
        background-color: #ede4ff;
    }
}

@media screen and (max-width: 1400px) {
    .logo-page {
        font-size: 1.5rem;
    }

    #profile, .section-container {
        display: flex; 
        row-gap: 0;
        align-items: center;
    }
    
    .general-wrapper {
      flex-wrap: wrap;
    }
    
    #contact,
    #projects {
      height: fit-content;
    }

    #projects .general-wrapper p {
        margin-bottom: 1rem;
    }
}
